# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
env.py
env_file.py

core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/

# ignoring migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
db.sqlite3
